@model IList<DomainProduct.Entities.Product>
<div class="ui container">
    <div class="ui grid">
        <div class="row one column">
            <div class="column">
                <!--<div class="ui doubling four cards centered destaque-slick">-->
                <div class="row destaque-slick">
                    @foreach (DomainProduct.Entities.Product product in Model)
                    {
                        <!-- Page: ~/Views/Shared/Object/Product/_ProductInCard.cshtml -->
                        @Html.Partial("Object/Product/_ProductInCard", product)
                    }
                </div>
                @*{% if paginate.pages > 1 %}
            <div class="ui centered grid ">
                <div class="center aligned row">
                    <div class="column">
                        @Html.Partial("Parts/_Pagination")
                    </div>
                </div>
            </div>
            {% endif %}*@
            </div>
        </div>
    </div>
</div>

<div class="ui divider hidden"></div>


<script>
jQuery(document).ready(function ($) {
$('.destaque-slick').slick({
  dots: false,
  //infinite: true,
  speed: 300,
  slidesToShow: 4,
  slidesToScroll: 4,
  prevArrow: '<span class="prev"><i class="chevron left icon texto-laranja" aria-hidden="true"></i></span>',
  nextArrow: '<span class="next"><i class="chevron right icon texto-laranja" aria-hidden="true"></i></span>',
  arrows: true,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
});
</script>