<div class="ui container">
<div class="row">
    <ul class="lista-marcas-rando">
        <li>
            <img src="../../../assets/image/banner-marcas/logo-bigpel.jpg" alt="imagen de logo castropil">     
        </li>
        <li>
            <img src="../../../assets/image/banner-marcas/logo-wyda.jpg" alt="imagen de logo castropil">     
        </li>
        <li>
            <img src="../../../assets/image/banner-marcas/logo_copobras.png" alt="imagen de logo castropil">     
        </li>
        <li>
            <img src="../../../assets/image/banner-marcas/logo_galvanotek.png" alt="imagen de logo castropil">     
        </li>
        <li>
            <img src="../../../assets/image/banner-marcas/logo_starpack.png" alt="imagen de logo castropil">     
        </li>
        <li>
            <img src="../../../assets/image/banner-marcas/logo_wer.png" alt="imagen de logo castropil">     
        </li>
    </ul>         
</div>

</div>
<script>
$('.lista-marcas-rando').slick({
  dots: true,
  infinite: true,
  speed: 500,
  slidesToShow: 4,
  slidesToScroll: 4,
});
</script>